.booking-card {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .booking-card-img {
    height: 180px;
    object-fit: cover;
  }
  
  .booking-card .card-body {
    display: flex;
    flex-direction: column;
  }
  
  .booking-card .btn {
    margin-top: auto;
  }
  