/* serviceForm.css */
.form-control.is-invalid {
  border-color: #dc3545;
}

.invalid-feedback {
  display: block;
  color: #dc3545;
}

button:disabled {
  background-color: #6c757d;
  cursor: not-allowed;
}
*{
  padding: 0;
  margin: 0;
}